<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/style.css">
</head>
<body>
    <header class="header_pages">
        <div class="container_header_index_top">
            <div class="header_index-top">
                <a href="/Views/Home/index.html">
                    <img src="/Media/img/logo.svg" alt="img_logo">
                </a>
            </div>
            <nav class="container_item_nav">
                <ul class="container_item_ul">
                    <li class="item_header"><a class="item_header" href="/Views/Pages/Nosotros.html">Nosotros</a></li>
                    <li class="item_header"><a class="item_header" href="/Views/Pages/Anuncios.html">Anuncios</a></li>
                    <li class="item_header"><a class="item_header" href="/Views/Pages/Blog.html">Blog</a></li>
                    <li class="item_header"><a class="item_header" href="/Views/Pages/Contactanos.html">Contacto</a></li>
                    <li>
                        <button class="button_index_darkmode" type="button"><img src="/Media/img/dark-mode.svg"
                                alt="nurbo" width="20px"></button>
                    </li>
                </ul>
            </nav>

        </div>
    </header>
    <footer>
        <div class="header_pages">
            <nav class="container_item_nav ">
                <ul class="container_item_ul margin-top-10px padding-left-0px">
                    <li class="item_header"><a class="item_header" href="/Views/Pages/Nosotros.html">Nosotros</a></li>
                    <li class="item_header"><a class="item_header" href="/Views/Pages/Anuncios.html">Anuncios</a></li>
                    <li class="item_header"><a class="item_header" href="/Views/Pages/Blog.html">Blog</a></li>
                    <li class="item_header"><a class="item_header" href="/Views/Pages/Contactanos.html">Contacto</a></li>
                </ul>
            </nav>
            <div class="container_footer">
                <h2 class="color-white font-size-20">Todos los derechos Reservados 2021 &copy</h2>
            </div>

        </div>
    </footer>
    
</body>
</html>